.dashboard {
  width: 100%;
  min-height: 100vh;
  background-color: $white;
  font-size: $font-size;
  font-family: $family;
  font-weight: $bold;
  color: $very-dark-blue;

  .dashboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 144rem;
    margin: 0 auto;
    padding: 2.5rem 5%;
    header {
      width: 35rem;
      margin-bottom: 3rem;

      @media (min-width: $tablet) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }

      .title {
        h1 {
          font-size: 2.5rem;
          margin-bottom: -1rem;
        }
        p {
          color: $dark-grayish-blue;
        }
      }
    }

    .attribution {
      font-size: 11px;
      text-align: center;
      margin-top: 5rem;

      a {
        color: hsl(228, 45%, 44%);
      }
    }
  }
}

.dashboard.dark {
  color: $white;
  background-color: $very-dark-blue;

  .title {
    p {
      color: $desaturated-blue;
    }
  }
}
