.overview-cards {
  h2 {
    color: $dark-grayish-blue;
    font-size: 2.5rem;
  }

  .overview-card {
    display: flex;
    justify-content: space-between;
    height: 15rem;
    width: 35rem;
    background-color: $light-grayish-blue;
    border-radius: 7px;
    padding: 2.5rem;
    margin-bottom: 2.5rem;

    .overview-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .overview-type {
        color: $dark-grayish-blue;
      }

      .overview-count {
        font-size: 4rem;
      }
    }

    .overview-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      .overview-difference {
        display: flex;
        align-items: center;

        img {
          padding-right: 0.3rem;
        }
      }

      .overview-difference.increase {
        color: $lime-green;
      }

      .overview-difference.decrease {
        color: $bright-red;
      }
    }
  }
}
